.head__frame {
    background-image: linear-gradient(to right, rgb(39, 53, 65), rgb(169, 40, 39));
    
    padding: 10px;
    color: #fef5f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
}

