.carousel,
.photos {
    background-color: var(--background-color);
    margin: (0px 5px 0px 5px);
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-item active {
text-align: center;
}
.photo-groups {
max-width: 50%;
height: auto;
}

.photos__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -5px;


}

.photos__row img {
    flex: 1 0 auto;
    margin: 10px;
    width: calc(20% - 5px);
    height: auto;
    object-fit: cover;
    object-position: center;

}

@media (max-width: 768px) {
    .photos__row img {
        width: calc(100% - 5px);
    }
}