.program__title {
    font-size: 32px;
    font-family: var(--font-family);
    color: var(--secondary-color);
    text-align: center;
    background-image: var(--background-image);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.program-conteiner {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;
    column-gap: 20px;
    padding: 10px;
    border: 5px solid rgb(17, 55, 224);
}

.senior-program,
.junior-program {
   
    padding: 10px 40px 10px 40px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    border: 5px solid rgb(223, 184, 26);

}
.senior-title, 
.junior-title {
    justify-content: center;
    color: var(--secondary-color);
    border: transparent;
    background-image: var(--background-image);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
      
}

.senior-card,
.junior-card {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   flex-basis: 100%;
    column-gap: 20px;
    align-items: stretch;
    background-color: var(--background-color);
    border: 5px solid green;

}

.card {
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;

    
}