<section class="voting">
    <h2 class="voting__title">Voting</h2>
    <form action="my.php" class="voting__form">
        <p>Select your favorite team</p>
        <input type="radio" name="answer" value="a1">Italy
        <input type="radio" name="answer" value="a2">Ukraine
        <input type="radio" name="answer" value="a3">Bulgaria
        <input type="radio" name="answer" value="a4">Israel
        <input type="radio" name="answer" value="a5">Germany
        <input type="radio" name="answer" value="a6">Spain
        <input type="radio" name="answer" value="a7">Azerbaijan
        <input type="radio" name="answer" value="a8">Hungary
        <p><input type="submit"></p>
    </form>

</section>