<section class="photos">
    <h2 class="photos__title">Photos</h2>
    <div class="photos__row">
        <img src="img/junior-groups-rope.jpg" alt="Junior groups rope">
        <img src="img/senior-groups-ball.jpg" alt="Senior groups ball">
        <img src="img/groups-clubs.jpg" alt="Senior groups clubs">
        <img src="img/groups-hope.jpg" alt="Senior groups clubs">
    </div class="photos__title-gallery">
    <p>In our Gallery you can
        <a href="https://www.europeangymnastics.com/gallery/2023-rhythmic-europeans-baku-aze">view more
            photos</a>
    </p>
</section>