<section class="program">
    <h2 class="program__title">Championship Program</h2>
    <div class="program-conteiner">
        <div class="senior-program">
            <h3 class="senior-title">Senior groups</h3>
            <div class="senior-card">
                <div class="card" style="width: 18rem;">
                    <img src="img/groups-ribbon-ball.jpg" class="card-img-top" alt="Photo Groups Ribbon Ball">
                    <div class="card-body">
                        <h5 class="card-title">3 RIBBONS AND 2 BALLS</h5>
                        <p class="card-text">
                            A group of seniors performs an exercise with 3 ribbons and 2 balls. The top 8 teams advance
                            to
                            the finals.</p>
                        <a href="https://backend.europeangymnastics.com/sites/default/files/paragraph/age-group-competition-info/competition-start-lists/SENIORS%20-%20Groups_0.pdf"
                            class="btn btn-primary">Start List</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="img/groups-hope.jpg" class="card-img-top" alt="Photo Groups Hopes">
                    <div class="card-body">
                        <h5 class="card-title">5 HOPES</h5>
                        <p class="card-text">
                            A group of seniors performs an exercise with 5hopes. The top 8 teams advance to the finals.
                        </p>
                        <a href="https://backend.europeangymnastics.com/sites/default/files/paragraph/age-group-competition-info/competition-start-lists/SENIORS%20-%20Groups.pdf"
                            class="btn btn-primary">Start List</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="junior-program">
            <h3 class="junior-title">Junior groups</h3>
            <div class="junior-card">
                <div class="card" style="width: 18rem;">
                    <img src="img/groups-rope.jpg" class="card-img-top" alt="Photo Groups Rope">
                    <div class="card-body">
                        <h5 class="card-title">5 ROPES</h5>
                        <p class="card-text">
                            A group of juniors performs an exercise with 5 ropes. The top 8 teams advance to the finals.
                        </p>
                        <a href="https://backend.europeangymnastics.com/sites/default/files/paragraph/age-group-competition-info/competition-start-lists/JUNIORS%20-%20Group%20-%20Qualification%20Without%20apparatus%20StartListRg_2.pdf"
                            class="btn btn-primary">Start List</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="img/groups-ball-1.jpg" class="card-img-top" alt="Photo Groups Balls">
                    <div class="card-body">
                        <h5 class="card-title">5 BALLS</h5>
                        <p class="card-text">
                            A group of juniors performs an exercise with 5 balls. The top 8 teams advance to the finals.
                        </p>
                        <a href="https://backend.europeangymnastics.com/sites/default/files/paragraph/age-group-competition-info/competition-start-lists/JUNIORS%20-%20Group%20-%20Qualification%20Without%20apparatus%20StartListRg_3.pdf"
                            class="btn btn-primary">Start List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>