<div id="photos-carousel" class="carousel slide container">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#photos-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#photos-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#photos-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#photos-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/groups-clubs.jpg" class="d-block w-50 mx-auto" alt="Photo Groups-clubs">
      </div>
      <div class="carousel-item">
        <img src="img/groups-hope.jpg" class="d-block w-50 mx-auto" alt="Photo Groups-hope">
      </div>
      <div class="carousel-item">
        <img src="img/junior-groups-rope.jpg" class="d-block w-50 mx-auto" alt="Photo Groups-rope">
      </div>
      <div class="carousel-item">
        <img src="img/senior-groups-ball.jpg" class="d-block w-50 mx-auto" alt="Photo Groups-ball">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#photos-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<section class="photos">
    <h2 class="photos__title">Photos</h2>
    <div class="photos__row">
        <img src="img/junior-groups-rope.jpg" alt="Junior groups rope">
        <img src="img/senior-groups-ball.jpg" alt="Senior groups ball">
        <img src="img/groups-clubs.jpg" alt="Senior groups clubs">
        <img src="img/groups-hope.jpg" alt="Senior groups clubs">
    </div class="photos__title-gallery">
    <p>In our Gallery you can
        <a href="https://www.europeangymnastics.com/gallery/2023-rhythmic-europeans-baku-aze">view more
            photos</a>
    </p>
</section>