<section class="photos">
  <h2 class="photos__title">Photos</h2>

  <div id="photos-carousel" class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/groups-hope.jpg" class="photo-groups" alt="Photo Groups hope" >
      </div>
      <div class="carousel-item">
        <img src="img/groups-ribbon-ball.jpg" class="photo-groups" alt="Photo Groups ribbon ball">
      </div>
      <div class="carousel-item">
        <img src="img/groups-ribbon.jpg" class="photo-groups" alt="Photo Groups rope">
      </div>
      <div class="carousel-item">
        <img src="img/groups-rope.jpg" class="photo-groups" alt="Photo Groups ball">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#photos-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#photos-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  

  <div class="view-more-photos">In our Gallery you can
    <a href="https://www.europeangymnastics.com/gallery/2023-rhythmic-europeans-baku-aze">view more
        photos</a>
    </div>
    
    <div class="photos__row">
        <img src="img/groups-hope.jpg" alt="Groups hope" class="photos__row-item">
        <img src="img/groups-ribbon-ball.jpg" alt="Groups ribbon-ball" class="photos__row-item">
        <img src="img/groups-ribbon.jpg" alt="Groups ribbon" class="photos__row-item">
        <img src="img/groups-rope.jpg" alt="Groups ropes" class="photos__row-item">
        <img src="img/groups-ball-1.jpg" alt="Groups ball" class="photos__row-item">
        <img src="img/groups-hope-2.jpg" alt="Groups hope" class="photos__row-item">
        <img src="img/groups-clubs.jpg" alt="Groups clubsl" class="photos__row-item">
        <img src="img/groups-ribbon-hope.jpg" alt="Groups ribon-hope" class="photos__row-item">
    </div >
    
</section>